name: Dependabot auto-merge

on:
  workflow_call:
    inputs:
      excluded-update-types:
        description: Update-types to exclude (JSON format)
        required: false
        default: '["version-update:semver-major"]'
        type: string
      merge-option:
        description: Merge option. Must be one of `merge`, `squash`, or `rebase`
        required: false
        default: "squash"
        type: string

jobs:
  auto-merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-slim
    permissions:
      contents: write
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0

      - name: Enable auto-merge
        if: ${{ !contains(fromJSON(inputs.excluded-update-types), steps.metadata.outputs.update-type) }}
        run: gh pr merge --auto "--${MERGE_OPTION}" "${PR_URL}"
        env:
          MERGE_OPTION: ${{ inputs.merge-option }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ github.token }}

      - name: Show message when skipped
        if: ${{ contains(fromJSON(inputs.excluded-update-types), steps.metadata.outputs.update-type) }}
        run: |
          echo "::notice::Skipped auto-merge because the update type \"${UPDATE_TYPE}\" is excluded"
        env:
          UPDATE_TYPE: ${{ steps.metadata.outputs.update-type }}
