name: Node.js Lint (reusable)

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-slim
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Set up Node.js LTS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "lts/*"
          cache: npm
      - name: Update npm to latest
        run: |
          npm install --global npm@latest
          echo "Successfully updated npm to $(npm -v)"
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
