name: Node.js Test (reusable)

on:
  workflow_call:
    inputs:
      node-version:
        description: Node.js version
        required: false
        default: "lts/*"
        type: string
      node-version-coverage:
        description: Node.js version for test coverage
        required: false
        type: string
      os:
        description: OS name
        required: false
        default: ubuntu-latest
        type: string
      coverage-name:
        description: Name for coverage artifacts
        required: false
        default: coverage
        type: string
      coverage-path:
        description: Path to coverage artifacts
        required: false
        default: coverage/
        type: string

jobs:
  test:
    runs-on: ${{ inputs.os }}
    permissions:
      contents: read
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Get npm version
        id: npm-version
        shell: bash
        run: |
          case $(node -v) in
            v16.*|v14.*|v12.*|v10.*)
              major_version=9
              ;;
            v18.*)
              major_version=10
              ;;
            *)
              echo "latest=true" >> "${GITHUB_OUTPUT}"
              echo "version=$(npm view npm version)" >> "${GITHUB_OUTPUT}"
              exit 0
              ;;
          esac
          version=$(npm view "npm@${major_version}" version --json | jq -r '.[-1]')
          echo "version=${version}" >> "${GITHUB_OUTPUT}"

      - name: Update npm to ${{ steps.npm-version.outputs.version }}${{ steps.npm-version.outputs.latest && ' (latest)' }}
        shell: bash
        env:
          npm_version: ${{ steps.npm-version.outputs.version }}
        run: npm install --global "npm@${npm_version}"

      - name: Install dependencies
        run: npm ci

      - name: Run test
        run: npm test --ignore-scripts
        if: ${{ inputs.node-version != inputs.node-version-coverage }}

      - name: Run test with coverage
        run: npm run test:coverage --ignore-scripts
        if: ${{ inputs.node-version == inputs.node-version-coverage }}

      - name: Upload test coverage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ inputs.node-version == inputs.node-version-coverage }}
        with:
          name: ${{ inputs.coverage-name }}
          path: ${{ inputs.coverage-path }}
          retention-days: 1
