name: Ruby Release (reusable)

on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        required: false
        default: "ruby" # latest
        type: string
      otp:
        description: One-time password for RubyGems.org
        required: true
        type: string
    secrets:
      api-key:
        description: API key for RubyGems.org
        required: true

jobs:
  release:
    runs-on: ubuntu-slim
    permissions:
      contents: write
    timeout-minutes: 10
    concurrency: ${{ github.workflow }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Ruby ${{ inputs.ruby-version }}
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - name: Set up Git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Release gem
        run: bundle exec rake release
        env:
          GEM_HOST_API_KEY: ${{ secrets.api-key }}
          GEM_HOST_OTP_CODE: ${{ inputs.otp }}

      - name: Create GitHub release
        run: |
          tag_name="$(git describe --tags --abbrev=0)"
          gh release create "${tag_name}" --verify-tag --draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
