name: Ruby Test (reusable)

on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        required: false
        default: ""
        type: string
      default-ruby-version:
        description: Default Ruby version
        required: false
        default: "ruby" # latest
        type: string
      minimum-ruby-version:
        description: Minimum Ruby version
        required: false
        type: number
      os:
        description: OS name
        required: false
        default: '["ubuntu-latest", "windows-latest"]'
        type: string

permissions:
  contents: read

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@e6eba27f7a9c48ccccb2eef935b8de5ba3facf8b
    with:
      engine: cruby
      min_version: ${{ inputs.minimum-ruby-version }}

  test:
    needs: ruby-versions
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ${{ fromJson(inputs.ruby-version || needs.ruby-versions.outputs.versions) }}
        os: ${{ fromJson(inputs.os) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install OS packages
        if: ${{ matrix.os == 'ubuntu-slim' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libyaml-dev # for Psych gem
      - name: Set up Ruby (${{ matrix.ruby-version }})
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run test
        run: bundle exec rake test

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install OS packages
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libyaml-dev # for Psych gem
      - name: Set up Ruby (${{ inputs.default-ruby-version }})
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ inputs.default-ruby-version }}
          bundler-cache: true
      - name: Run lint
        run: bundle exec rake lint
