name: Ruby Release (reusable)

on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        required: false
        default: "ruby" # latest
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    timeout-minutes: 10
    concurrency: ${{ github.workflow }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # v1.287.0
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - name: Publish gem
        uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          new_tag="$(git describe --tags --abbrev=0)"
          gh release create "${new_tag}" --verify-tag --draft

          release_url=$(gh release view "${new_tag}" --json 'url' --jq '.url')
          echo "::notice::Created the draft release: ${release_url}"
